<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="mb-3">Login</h3>

        @if (infoMessage) {
          <div class="alert alert-secondary">{{ infoMessage }}</div>
        }

        @if (errorMessage) {
          <div class="alert alert-danger">{{ errorMessage }}</div>
        }

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input class="form-control" [(ngModel)]="model.email" placeholder="amit@example.com" />
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            class="form-control"
            type="password"
            [(ngModel)]="model.password"
            placeholder="Amit@123"
          />
        </div>

        <button class="btn btn-primary w-100" (click)="login()">Login</button>

        <hr />

        <div class="small text-muted">
          <strong>Dummy Users:</strong>
          <ul class="mb-0">
            <li>amit@example.com / Amit@123 (user)</li>
            <li>priya@example.com / Priya@123 (admin)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
